:root{
    background-color: #202023;
}

#containall{
    width: 75vw;
    min-width: 600px;
    max-width: 1000px;
    height: 1000px;
    margin: 0 auto;
    padding: 0;
}


@font-face {
    font-family: Gotham;
    src: url(/fonts/gotham.otf);
}
@font-face {
    font-family: Gotham;
    src: url(/fonts/gotham-b.otf);
    font-weight: bold;
}
@font-face {
    font-family: Gotham;
    src: url(/fonts/gotham-i.otf);
    font-style: italic;
}
@font-face {
    font-family: Gotham;
    src: url(/fonts/gotham-bi.otf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: Gotham;
    src: url(/fonts/gotham-c.otf);
    font-stretch: condensed;
}
@font-face {
    font-family: Gotham;
    src: url(/fonts/gotham-ci.otf);
    font-stretch: condensed;
    font-style: italic;
}

.box{
    position: relative;
    background-image: linear-gradient(20deg, #f9823d, #ffe5c188), url("halftone.png"), linear-gradient(#e7931e, #e7931e);
    background-size: 300%;
    background-color: #f9823d;
    padding: 3% 8% 5%;
    font-weight: bold;
    font-size: 15pt;
    line-height: 14pt;
    span{
        font-size: 12px;
    }
}

#wrapper {
    font-family: Gotham;
    display: block;
    position: relative;
    width: 200px;
    height: 0;
    margin: 0;
    top: 50px;
    left: 30px;
    z-index: 3;
    filter: drop-shadow(7px 7px);
}

#banner{
    position: relative;
    width: 100%;
    height: 80px;
    z-index: -1;
    background-image: linear-gradient(20deg, #b05a28, #ffe5c1), url(lbheader.jpg);
    background-size: 100%;
    background-blend-mode: darken;
    background-position-y: 60%;
    margin: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10px 100%);
}
#navbar{
    background-image: linear-gradient(to right,#ffffff00,#f9823d55);
    color: white;
    font-family: Gotham;
    font-stretch: condensed;
    padding: 4px 2px 2px 250px;
    font-size: 14pt;
    display: block;
    top: 80px;
    z-index: -1;
    width: 1;
    height: fit-content;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
}
.menu{
    color: white;
    display: inline-block;
    position: relative;
    font-family: Gotham;
    left: -35px;
    width: 100px;
    top: -38px;
    margin: 0;
}

#menubutton{
    background-color: #18181a;
    color:#807977;
    font-size: 12pt;
    text-align: right;
    padding: 16px 12px 4px 9px;
    position: relative;
    box-sizing: border-box;
    width: 4.5em;
    height: 40px;
    z-index: -2;
    margin: 0;
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 2% 100%);
    transition: letter-spacing 0.5s;
}

.contents{
    background-color: #18181aaa;
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
    left: 35px;
    top: 38px;
    height: 0;
    width: 0;
    min-width: 0;
    max-width: 0;
    margin: 0;
    z-index: 2;
    backdrop-filter: blur(0px);
    transition: width 1s, min-width 1s, max-width 1s, height 1s, padding 1s, backdrop-filter 4s;
}

.menu:hover .contents{
    display: block;
    padding: 0px;
    width: 75vw;
    min-width: 600px;
    max-width: 1000px;
    height: 100px;
    padding: 25px 10px 10px;
    backdrop-filter: blur(8px);
}

.menu:hover #menubutton{
    letter-spacing: 3px;
}

main{
    color: white;
    position: relative;
    font-family: Gotham;
}

h1 {
    font-stretch: condensed;
    font-size: 40pt;
    margin: 2pt;
}

#articlecontent{
    background-color: #18181a;
    padding: 10px;
    padding-bottom: 40px;
    box-sizing: border-box;
    font-size: 11pt;
    color: #e2d5d1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 75% calc(100% - 20px), 54% calc(100% - 10px), 32% calc(100% - 32px), 14% calc(100% - 0px), 0% calc(100% - 6px));
}

#workingonit{
    background-color: #18181a;
    width: 66%;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    img{
        width: 200px;
    }
}

article.articlecontain {
    background-color: #18181a;
    box-sizing: border-box;
    padding: 10px;
    padding-right: 30px;
    margin-top: 5pt;
    clip-path: polygon(0% 0%, 100% 0%, calc(100% - 20px) 100%, 0% 100%);
    h2 {
        margin: 2px;
        font-stretch: condensed;
        font-size: 23pt;
    }
    .article_sub{
        font-size: 11pt;
        font-style: italic;
    }
    .article_meta{
        font-size: 9pt;
        color: #fff8
    }
}