:root{
    font-family: Tahoma, Verdana, sans-serif;
}

.backbox::before {
    content: "";
    position: fixed;
    width: 600%;
    height: 400%;
    top: -200%;
    left: -200%;
    z-index: -1;
    background: url(/img/webback.png) 0 0 repeat;
    background-size: 100px;
    background-position: var(--offset);
    transform: rotate(30deg);
}

.cont{
    --offset: 0 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    color: white;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
    background-color: #21040f;
    background-image: radial-gradient(#0000, #0009), url(/img/webscanlines.png);
    opacity: 85%;
}

#contall{
    z-index: 3;
    color: #d89dae;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: #000 1px 1px 3px;
    text-align: center;
}

h1{
    font-weight: normal;
    letter-spacing: 0.2em;
    margin: 4px;
    margin-right: 0.1em;
}