@font-face {
    font-family: Gotham;
    src: url(/fonts/gotham.otf);
}
@font-face {
    font-family: Gotham;
    src: url(/fonts/gotham-b.otf);
    font-weight: bold;
}
@font-face {
    font-family: Gotham;
    src: url(/fonts/gotham-i.otf);
    font-style: italic;
}
@font-face {
    font-family: Gotham;
    src: url(/fonts/gotham-bi.otf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: Gotham;
    src: url(/fonts/gotham-c.otf);
    font-stretch: condensed;
}
@font-face {
    font-family: Gotham;
    src: url(/fonts/gotham-ci.otf);
    font-stretch: condensed;
    font-style: italic;
}
@font-face {
    font-family: Gotham;
    src: url(/fonts/gotham-xc.otf);
    font-stretch: semi-condensed;
}


:root{
    font-family: Gotham, Tahoma, Verdana, sans-serif;
    background-color: #21040f;
    width: 100vw;
    overflow-x: hidden;
}

.backbox::before {
    content: "";
    position: fixed;
    width: 600%;
    height: 400%;
    top: -200%;
    left: -200%;
    z-index: -1;
    background: url(/img/webback.png) 0 0 repeat;
    background-size: 100px;
    background-position: var(--offset);
    transform: rotate(30deg);
}

.cont{
    --offset: 0 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    color: white;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
    background-color: #21040f;
    background-image: radial-gradient(#0000, #000c), url(/img/webscanlines.png);
    opacity: 85%;
}

.overheadcont{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    color: white;
    z-index: 1000;
    background-color: #21040f;
    background-image: radial-gradient(#0000, #000), url(/img/webscanlines.png);
    opacity: 2%;
    filter: brightness(20);
    pointer-events: none;
}

#contall{
    position: absolute;
    z-index: 3;
    color: #d89dae;
    text-shadow: #843953 0 0 10px;
    font-size: 10pt;
}

.contall-mainloc{
    top:10vw;
    left:10vw;
    height: max-content;
    width: calc(100% - 20vw);
    padding-bottom: 20vw;
    
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.relcenter{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%)
}

.txcenter{
    text-align: center;
    font-size: 10pt;
}

header{
    width: 100%;
    overflow: visible;
    display: block;
    iframe{
        top: 0;
        left: 0;
        width: 100%;
        background-color: transparent;
        padding: 0;
        margin: 0;
    }
}

h1{
    font-weight: normal;
    font-size: 25pt;
    font-stretch: semi-condensed;
    letter-spacing: 0.2em;
    margin: 4px;
    margin-right: 0.2em;
    margin-left: 0;
    padding-top: 18px;
    padding-left: 5px;
}

h2{
    font-weight: normal;
    font-size: 18pt;
    font-stretch: semi-condensed;
    margin: 10px;
    margin-left: 0;
    display: block;
    width: 100%;
    text-align: center;
}

#logo{
    position: absolute;
    z-index: 1;
    width: 150px;
    top: -20px;
    left: -30px;
    opacity: 10%;
    filter: saturate(140%);
}

a{
    color: #e7cdd5;
    text-decoration: none;
}

hr{
    border: #843953 solid 1px;
    box-shadow: #6a273e 0 0 10px;
}

.transhue{
    filter: invert(27%) sepia(25%) saturate(1406%) hue-rotate(288deg) brightness(89%) contrast(86%);
}

nav {
    color: #0d010b;
    margin: 0;
    padding: 0;
}

nav:has(a:hover) a{
    color: #843953;
    text-shadow: 0 0;
}
  
.hzlinks{
  list-style: none;
  margin: 0px;
  padding: 0;
}

.hzel:hover{
  text-decoration: none;
  color: #ff84a9;
  text-shadow: 0 0 7px #ff84a9;
  font-size: 13pt;
  letter-spacing: 5px;
  transition: 0.5s
}

.nolinkstyle{
  text-decoration: none;
  color: #e890b0
}

.hzel:not(:hover){
  text-decoration: none;
  letter-spacing: 0px;
  transition: 0.5s
}

li{
    display: inline-block;
    margin: auto 10px 0 0;
}

#headerimg{
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin: 6px 0;
}

.fourohfour{
    font-size: 2rem;
}

.tidbit{
    padding: 9px;
    margin-top: 5px;
    border: 1px solid #6a273e;
    color: #d89dae;
    font-stretch: semi-condensed;
    transition: background-color 0.5s steps(4), color 0.5s steps(4);
}
.tidbit:hover{
    background-color: #84395330;
    color: #e7cdd5;
    .tidbithead{
        letter-spacing: 0.1em;
    }
}

.tidbithead{
    font-size: 12pt;
    font-stretch: normal;
    font-style: italic;
    transition: letter-spacing 0.5s;
}
#comictray{
    font-size: 18px;
}
button{
    font-family: Gotham;
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 2px 2px #6a273e;
    background-color: #36081a;
    border: none;
    color: #d89dae;
    transition: top 0.5s, left 0.5s, box-shadow 0.5s;
}
button:hover{
    top: 2px;
    left: 2px;
    box-shadow: 0px 0px #6a273e, 0px 0px 10px #843953;
    background-color: #6a273e;
    border: none;
    color: #d89dae;
}
button:disabled{
    color: #d89dae4d;
    box-shadow: 2px 2px #36081a;
}
button:hover:disabled{
    top: 0px;
    left: 0px;
    box-shadow: 2px 2px #36081a;
    background-color: #36081a;
    border: none;
}
#intro{
    height: 410px;
}
#streader{
    width: 100%;
    height: 100%;
}
.bigstart{
    font-size: 15pt;
}
.tzureader{
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0 20px;
}
.linkpglink{
    font-size: 14pt;
    padding-top: 8px;
}

aside{
    float: left;
    margin: 10px;
    margin-top: 0;
    margin-left: -20px;
    width: 200px;
}
.focus {
    --clippath: polygon(0 25%, 100% 0, 100% 95%, 0 100%);
    font-size: 40pt;
    font-stretch: condensed;
    color: #ffe6ee;
    margin: 0 -10vw;
    padding: 10vw;
    padding-top: 80px;
    padding-bottom: 15px;
    position: relative;
}
.focus::before{
    content: " ";
  position: absolute;
  top: 0; 
  left: 0;
  height: 100%;
  width: 200%;  
  opacity: .45; 
  z-index: -1;
  background: url("/img/phi.png");
  background-position: 50%;
  background-size: cover;
  clip-path: var(--clippath);
}

.funkygrid .funkyrow{
    display: flex;
    flex-direction: row;
    height: 160px;
    max-width: 800px;
    margin: 0 auto;
    >*{
        flex:  1;
        margin: 10px;
        width: auto;
        border: 2px solid #36081a;
        box-shadow: 3px 3px 5px#0d010b;
        height: 150px;
        align-items:baseline;
        position: relative;
        border-radius: 6px;
        h2{
            margin: 0;
            text-align: left;
        }
    }
}
.boxhead{
    padding: 5px;
    position: absolute;
    bottom: 0;
}
.funkybackg{
    width: 100%;
    height: 100%;
    opacity: 30%;
    background-size: cover;
    background-position: 0 5%;
}

.image{
    width: 100%;
    margin-top: 20px;
    max-width: 600px;
}
.caption{
    display: block;
    opacity: 40%;
    font-style: italic;
}
