

body.screensaver {
    background-color: #070808;
    color: #222225;
    max-height: 400px;

    #options{
        background-color: #070808;
        color: #222225;
    }
    
    #buttontray{
        display: none;
    }

    #datatablewrap{
        background-color: #070808;
        overflow: hidden;
        padding: 0;
    }

    #date {
        display: none;
    }

    #content{
        flex: 0;
    }

    #timenow{
        font-size: 120pt;
        line-height: 120pt;
        display: block;
        bottom: 0;
    }

    #errors {
        display: none;
    }

    #clock {
        background-color: #070808;
        flex: 1;
        align-self: center;
        display: flex;
        flex-direction: column;
    }

    .flexspacer{
        flex: 1;
    }

    #tracker {
        flex-direction: column;
        flex: 1;
    }

    #timeline{
        width: 0;
        height: calc(100% + 6px);
    }

    #datatable_new{
        margin: 0 !important;
        min-height: 0;
    }

    #statusw{
        flex: none;
        height: 80px;
    }

    #progress {
        display: none;
    }

    .scheduleelement{
        height: calc(100% - 18px);

        background-color: #222225;
        border: 0;
        * {
            display: none;
        }
    }

    select {
        background-color: #222225;
        color: #070808;
        border: none;
    }

    .specialpd{
        background-blend-mode: multiply;
    }
}