:root{
    --innercontainer: #121416;
    --tray: #2b3237;
}

@font-face {
    font-family: Gotham;
    src: url(/fonts/gotham.otf);
}
@font-face {
    font-family: Gotham;
    src: url(/fonts/gotham-b.otf);
    font-weight: bold;
}
@font-face {
    font-family: Gotham;
    src: url(/fonts/gotham-i.otf);
    font-style: italic;
}
@font-face {
    font-family: Gotham;
    src: url(/fonts/gotham-bi.otf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: Gotham;
    src: url(/fonts/gotham-c.otf);
    font-stretch: condensed;
}
@font-face {
    font-family: Gotham;
    src: url(/fonts/gotham-ci.otf);
    font-stretch: condensed;
    font-style: italic;
}

#errors{
    color: #a54b06;
    background-image: url(./hatched.png);

}
body{
    container-name: body;
    display: flex;
    flex-direction: column;
    background-color: #181a1d;
    height: 100vh;
    width: 100vw;
    max-width: 800px;
    max-height: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #ccc;
    margin: 0;
    box-sizing: border-box;
    padding: 12px;
}
body, h1, select, option{
    font-family: Gotham, Verdana, sans-serif;
}

#leanbanner{
    container-name: leanbanner;
    container-type: size;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    max-height: 10vh;
    overflow: hidden;
    resize: vertical;
    z-index: 100;
    background-color: rgb(204, 224, 230);
    border-bottom: 4px double rgb(60, 94, 136);

    visibility: hidden;
    
    #leancontent{
        box-sizing: border-box;
        display: flex;
        .leanelement {
            border: none;
            padding: 0;
            margin: 0;
            border-spacing: 0;
            padding: 0 0.25em;
        }
        #leantime,#leanhead,#leanmain,#leanend{
            font-family: Gotham;
            font-stretch: condensed;
            overflow:hidden;
            text-wrap: nowrap;
        }
        #leantime{
            width: 4em;
            background-color: rgb(144, 176, 199);
            text-align: center;
        }
        #leanhead{
            font-style: italic;
        }
        #leanmain{
            box-shadow: 0 -10px 5px inset;
            padding: inherit;
            flex: 1;
        }
        #leanend{
            text-align: right;
        }
    }
}

@container leanbanner (min-height: 0px){
    #leancontent,#leanmain{
        font-size: calc(75cqh);
        line-height: calc(109cqh);
    }
    #leanhead{
        font-size: calc(55cqh);
        line-height: calc(120cqh);
    }
    #leanmain{
        font-size: calc(65cqh);
        line-height: calc(116cqh);
    }
}

#options{
    color: rgb(255, 255, 255);
    background-color: #2b3237;
    padding: 4px 0.25em; 
    width: 1;
    display: inline-block;
}
#buttontray{
    display: inline-block;
}

#status{
    padding: 0;
    margin: 0;
    width: 0;
    font-size: 14pt;
    flex: 1;
    padding: auto;
    display: flex;
    align-items: flex-end;
    #stathead, #statmainw, #statend{
        padding: 10px;
        position: relative;
    }
    #stathead{
        text-transform:uppercase;
        font-weight:bold;
        font-size: 10pt;
        padding-bottom: 11px;
        text-wrap: nowrap;
    }
    #statmain{
        top:0;
        width: fit-content;
        left:0;
        position: relative;
        text-wrap: nowrap;
    }
    #statmainw{
        width: 1;
        min-width: 1;
        flex: 1;
        overflow: hidden;
    }
    #allnext {
        width: 100%;
        margin: 2px;
    }
}

#statusw{
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 14pt;
    flex: 1;
    padding: auto;
    display: flex;
    flex-direction: column;
    container-name: statusw;
    container-type: size;
}
@container statusw (width < 300px){
    #status{
        flex-direction: column;
        align-items: baseline;
        width: 1;
        padding: 5px;
        padding-bottom: 10px;
        >div{
            text-align: left;
            line-height: 0;
            box-sizing: border-box;
            width: 100%;
            padding: 0;
        }
        #statend{
            font-stretch: condensed;
            text-align: right;
        }
    }
}
#status{
    width: 100%;
}
#progress {
    width: 100%;
    border-radius: 0;
    height: 2px;
    appearance: none;
}

#progress::-webkit-progress-bar{
    background-color: #1f2730;
}
#progress::-webkit-progress-value{
    background-color: #21426a;
}

#tracker{
    display: flex;
}

table {
    margin: 5px 0;
}

.border {
    border: 1px solid;
}

.form {
    margin: 20px auto;
    padding: 5px;
    width: 100%;
}

#flags{
    width: 0;
    visibility: hidden;
    display: flex;
    opacity: 0;
    flex-direction: column;
    position: relative;
    transition: width 0.5s linear;

    height: 1;
    background-color:#192a3f;
    overflow-y: auto;
    overflow-x: hidden;
    text-wrap: nowrap;
}

#datatablewrap{
    container-name: datatable;
    container-type: size;
    background-color: #121416;
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    flex: 0 1 auto;
    overflow-y: scroll;
    overflow-x: hidden;
}
#datatable_new {
    display: block;
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    min-height: 400px;
    margin: 6px 9px;
    flex: 1;
}

.scheduleelement {
    background-color: rgb(49, 59, 72);
    width: calc(100% - 12px);
    position: absolute;
    box-sizing: border-box;
    padding: 4px 3px;
    box-shadow: 6px 6px 6px #00000030;
    border: 2px solid rgb(58, 74, 95);
    line-height: 10pt;
    overflow: auto;
    container-name: schedelem;
    container-type: size;
}
@container schedelem (max-height: 35px){
    br{
        visibility: hidden;
    }
    .starttime{
        color: rgb(78, 97, 122);
        text-wrap: nowrap;
    }
    .cname{
        position: absolute;
        top: 2px;
        right: 2px;
        z-index: 2;
        text-align: right;
        text-overflow: ellipsis;
        overflow: hidden;
        text-wrap: nowrap;
        max-width: 100%;
    }

}

.specialpd {
    background-image: url(./hatched.png);
    color: black;
    border: 2px solid #e59616;
    text-shadow: 1px 1px white;
}
#timenow {
    font-size: 30pt;
    line-height: 30pt;
    font-stretch: condensed;
}
#date{
    font-size: 16pt;
    line-height: 16pt;
    font-stretch: condensed;
}
#clock{
    width: fit-content;
    text-wrap: nowrap;
    background-color: #121416;
    padding: 10px;
    span{
        margin: 0;
    }
}
#message {
    text-align: center;
    margin: auto;
    position: relative;
    top: 50%;
    color: #ffffff2e;
}

#timeline {
    width: calc(100% + 6px);
    z-index: 100;
    position: absolute;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid rgb(107, 34, 34);
}

#content {
    flex:1;
    display: flex;
}

.calcontain{
    margin: 2px;
    padding: 2px;
}

#calendar {
    width: 0;
    visibility: hidden;
    display: flex;
    opacity: 0;
    flex-direction: column;
    position: relative;
    transition: width 0.5s linear;

    height: 1;
    background-color:rgb(25, 42, 63);
    overflow-y: auto;
    overflow-x: hidden;
    text-wrap: nowrap;

    #calinput{
        display: none;
    }
    #calcontent, .caldivs{
        margin: 2px;
        padding: 2px;
    }
    #calbuttons {
        position: absolute;
        bottom: 0;
        *{
            margin-top: 4px;
            line-height: 10pt;
        }
    }
    hr{
        margin: 2px;
    }
    label{
        display: inline-block;
        position: relative;
        top:0;
        left:0;
        background-color: aliceblue;
        padding: 2px;
        box-shadow: 2px 2px #0222445a;
        font-size: 9pt;
        transition: 
            box-shadow 0.25s linear,
            top 0.25s linear,
            left 0.25s linear;
    }
    label:hover{
        box-shadow: 0 0;
        background-color: rgb(206, 223, 244);
        top: 2px;
        left: 2px;
    }
}

.small {
    font-size: 11pt;
    font-stretch: condensed;
    margin: 0;
}

.hidefile{
    display: none;
}

.starttime {
    font-size: 10pt;
    line-height: 10pt;
}
.cname {
    font-stretch: condensed;
    font-size: 15pt;
    line-height: 15pt;
}

input[type=text]{
    font-family: Gotham, Tahoma, Verdana, sans-serif;
    border-radius: 0;
    border: 1px solid lightslategrey; 
}

input[type=submit]{
    width: 100%;
    font-family: Gotham, Tahoma, Verdana, sans-serif;
    font-size: 12pt;
    border-radius: 0;
    border: 2px solid green; 
}

input[type=submit]:hover{
    width: 100%;
    font-family: Gotham, Tahoma, Verdana, sans-serif;
    font-size: 12pt;
    border-radius: 0;
    border: 1px solid green; 
    background-color: green;
    color: white;
}

input[type=file]{
    font-family: Gotham, Tahoma, Verdana, sans-serif;
}

#calendarbutton, .button{
    color: #ccccd1;
    font-family: Gotham, Tahoma, Verdana, sans-serif;
    display: inline-block;
    background-color: rgb(50, 61, 69);
    position: relative;
    border: 0;
    top: 0;
    left: 0;
    padding: 3px;
    margin: 0;
    box-shadow: 2px 2px #0222445a;
    font-size: 10pt;
    transition: 
        box-shadow 0.25s linear,
        top 0.25s linear,
        left 0.25s linear;
}
#calendarbutton:hover, .button:hover{
    box-shadow: 0 0 #0222445a;
    background-color: #1f2730;
    top: 2px;
    left: 2px;
}

footer{
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 9pt;
}

/* schedule builder rules */
#schedbuildhead>h1{
    font-size: 30pt;
    line-height: 30pt;
    margin: 4px;
    padding: 0;
    font-stretch: condensed;
}

#content.schedbuild{
    background-color: #121416;
    padding: 7px;
    overflow-y: scroll;
}

.sb-label{
    letter-spacing: -0.07rem;
}
.sb-table{
    margin: 0;
    padding: 0;
}

.sb-fieldset{
    border: 1px solid #202326;
    legend{
        padding: 0px 10px
    }
}

.marquee{
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        opacity: 0;
        transform: translateX(0%);
    }
    5% {
        opacity: 1;
    }
    10%{
        transform: translateX(0%);
    }
    100% {
        opacity: 1;
        transform: translateX(-130%);
    }
}