body{
    width: 75%;
    max-width: 750px;
    margin: 0 auto;
}
body, h1, select, option{
    font-family: Tahoma, Verdana, sans-serif;
}

header{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.103) 0, rgb(255 255 255 / 100%) 100%), url("./header.png");
    background-repeat: no-repeat;
    background-clip: padding-box;
    height: 30vh;
    max-height: 120px;
    margin: 0;
    position: relative;
    image-rendering:pixelated;
}

h1 {
    line-height: 15pt;
    margin: 0 5px;
    position: absolute;
    bottom: 0;
}

#options{
    color: azure;
    text-shadow: 2px 2px black;
    background-color: cadetblue;
    padding: 2px 0.25em; 
    border: 2px inset darkgray;
    width: fit-content;
}

#status{
    padding: 0;
    margin: 0;
    p {
        margin: 2px 0;
    }
    font-size: 20px;
    font-style: oblique;
}

table, td {
    border: 1px solid;
    min-width: 100px;
}

table {
    margin: 5px 0;
}

.border {
    border: 1px solid;
}

.form {
    margin: 20px auto;
    padding: 5px;
    width: fit-content;
    text-wrap: nowrap;
}

#datatable_new {
    display: block;
    position: relative;
    width: 60vw;
    max-width: 700px;
    height: 500px;
    background-color: lightcyan;
    padding: 4px;
    border: 1px solid black;
}

.scheduleelement {
    background-color: white;
    width: inherit;
    max-width: inherit;
    position: absolute;
    box-sizing: border-box;
    padding: 2px;
}
#timenow {
    font-size: 26pt;
}
#message {
    text-align: center;
    margin: auto;
    position: relative;
    top: 250px;
    color: #000b1d2e;
}
#scheduleline {
    width: inherit;
    z-index: 100;
    max-width: inherit;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid red;
}

input[type=text]{
    font-family: Tahoma, Verdana, sans-serif;
    border-radius: 0;
    border: 1px solid lightslategrey; 
}

input[type=submit]{
    width: 100%;
    margin-top: 4px;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 12pt;
    border-radius: 0;
    border: 1px solid green; 
}

input[type=submit]:hover{
    width: 100%;
    margin-top: 4px;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 12pt;
    border-radius: 0;
    border: 1px solid green; 
    background-color: green;
    color: white;
}

footer{
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 9pt;
}