@font-face {
    font-family: Gotham;
    src: url(/fonts/gotham.otf);
}
@font-face {
    font-family: Gotham;
    src: url(/fonts/gotham-b.otf);
    font-weight: bold;
}
@font-face {
    font-family: Gotham;
    src: url(/fonts/gotham-i.otf);
    font-style: italic;
}
@font-face {
    font-family: Gotham;
    src: url(/fonts/gotham-bi.otf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: Gotham;
    src: url(/fonts/gotham-c.otf);
    font-stretch: condensed;
}
@font-face {
    font-family: Gotham;
    src: url(/fonts/gotham-ci.otf);
    font-stretch: condensed;
    font-style: italic;
}
@font-face {
    font-family: Gotham;
    src: url(/fonts/gotham-xc.otf);
    font-stretch: semi-condensed;
}


:root{
    font-family: Gotham, Tahoma, Verdana, sans-serif;
    background-color: #21040f;
    --trans: perspective(50vh) rotate3d(1,0,0,40deg) rotate3d(0,0,1,7deg);
}

.backbox::before {
    content: "";
    position: fixed;
    width: 600%;
    height: 400%;
    top: -200%;
    left: -200%;
    z-index: -1;
    background: url(/img/webback.png) 0 0 repeat;
    background-size: 100px;
    background-position: var(--offset);
    transform: rotate(30deg);
}

.cont{
    --offset: 0 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    color: white;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
    background-color: #21040f;
    background-image: radial-gradient(#0000, #000c), url(/img/webscanlines.png);
    opacity: 85%;
}

.overheadcont{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    color: white;
    z-index: 1000;
    background-color: #21040f;
    background-image: radial-gradient(#0000, #000), url(/img/webscanlines.png);
    opacity: 2%;
    filter: brightness(20);
    pointer-events: none;
}

#contall{
    position: fixed;
    z-index: 3;
    color: #d89dae;
    text-shadow: #843953 0 0 10px;
    font-size: 10pt;
}

.contall-mainloc{
    top:10px;
    left:10px;
    width: calc(100% - 20px);
}

.center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.txcenter{
    text-align: center;
    font-size: 10pt;
}

h1{
    font-weight: normal;
    font-size: 25pt;
    font-stretch: semi-condensed;
    letter-spacing: 0.2em;
    margin: 4px;
    margin-right: 0.2em;
    margin-left: 0;
    padding-top: 18px;
    padding-left: 5px;
}

#logo{
    position: absolute;
    z-index: 1;
    width: 150px;
    top: -20px;
    left: -30px;
    opacity: 10%;
    filter: saturate(140%);
}

a{
    color: #e7cdd5;
    text-decoration: none;
}

hr{
    border: #843953 solid 1px;
    box-shadow: #6a273e 0 0 10px;
}

.transhue{
    filter: invert(27%) sepia(25%) saturate(1406%) hue-rotate(288deg) brightness(89%) contrast(86%);
}

nav {
    color: #0d010b;
    margin: 0;
    padding-left: 10px;

    float: right;
}
  
.hzlinks{
  list-style: none;
  margin: 0px;
  padding: 0;
}

li{
    display: inline-block;
    margin: auto 10px 0 0;
}

#headerimg{
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin: 6px 0;
}

.fourohfour{
    font-size: 2rem;
}

#game, #reader{
    box-sizing: border-box;
    background-color: #30091888;
    margin: 0 auto;
    height: 75vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: var(--trans);
    transition: transform 2s;
}
#bets{
    flex: 1;
}

#dealer, #player{
    display: flex;
}
#playerui{
    position: fixed;
    background-color: #4d182b;
    width: max-content;
    bottom: 10px;
    padding: 5px;
    z-index: 5;
    #status{
        position: absolute;
        z-index: 10;
        left: calc(100% + 5px);
        top: 0;
        font-stretch: semi-condensed;
        font-size: 14pt;
    }
}
#dealerui{
    position: fixed;
    background-color: #4d182b;
    width: max-content;
    min-width: 120px;
    text-align: right;
    top: 25vh;
    right: 10px;
    padding: 5px;
    z-index: 5;
    img{
        height: 25vh;
        max-height: 150px;
        position: absolute;
        bottom: 100%;
        right: 0px;
        opacity: 30%;
    }
}
.card{
    margin: 6px 0px 0px 6px;
    padding: 5px;
    background-color: #370f1e;
    width: 90px;
    height: 140px;
    font-size: 22pt;
    position: relative;
}
.covered{
    background-color: #6a273e;
}
.subtlebutton{
    background-color: transparent !important;
    box-shadow: none !important;
}
#persp{
    position: fixed;
    display: block;
    width: min-content;
    height: min-content;
    bottom: 10px;
    right: 10px;
    margin: 0;
}
.uiheader{
    position: absolute;
    bottom: -16pt;
    right: 1px;
    font-weight: bold;
    font-size: 16pt;
    text-shadow: none;
    opacity: 30%;
    color: #843953;
}
.topuiheader{
    position: absolute;
    top: -16pt;
    left: 1px;
    font-weight: bold;
    font-size: 16pt;
    text-shadow: none;
    opacity: 30%;
    color: #843953;
}